/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 26-oct-2022, 16:22:06
    Author     : maria
*/

.destacado{
    color: red;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
}